
@media only screen  and (max-width: 480px) {
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.clearfix:after{
	content:"";
	display: table;
	clear: both;
}

.container {
	width: 90%;
	margin: 0 auto;
}
 
 #nav {
     display: none;
    } 
    
    footer {
        height: 50%;
		
    }
}
    